<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Create File Object</h1>
          </div>
<!--          <div class="col-sm-6">-->
<!--            <ol class="breadcrumb float-sm-right">-->
<!--              <li class="breadcrumb-item">-->
<!--                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">-->
<!--                  Upload Book Objects-->
<!--                </button>-->
<!--              </li>-->
<!--            </ol>-->
<!--          </div>-->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="card card-info">
              <!-- <div class="card-header">
                <h3 class="card-title">Add Bank Book</h3>
              </div> -->
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" class="form-horizontal" th:href= "@{~/books/{bookId}/objects/add (bookId=${bookId}) }"  th:object="${bookobject}">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" th:field="*{name}" id="name" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea rows="3" class="form-control" th:field="*{description}" id="description" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="mappedColumn" class="col-sm-2 col-form-label">Mapped Column</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" th:field="*{mappedColumn}" id="mappedColumn" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="mappedColumnType" class="col-sm-2 col-form-label">Mapped Column Type</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="mappedColumnType" th:field="*{mappedColumnType}" required>
                        <option value="VARCHAR">VARCHAR</option>
                        <option value="NUMBER">NUMBER</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="defaultValue" class="col-sm-2 col-form-label">Default Value</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" th:field="*{defaultValue}" id="defaultValue" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="enabled" class="col-sm-2 col-form-label">Activate</label>
                    <div class="col-sm-10">
                      <select class="form-control" th:field="*{enabled}" id="enabled">
                        <option value=false>No</option>
                        <option value=true>Yes</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Create</button>
                  <a th:href= "@{~/books/{pathParam}/objects (pathParam=${bookId}) }" class="btn btn-default ">Cancel</a>
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
            <!-- /.card -->

          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->


  </div>


  <!-- /.content-wrapper -->


</div>
<!-- ./wrapper -->

<!-- jQuery -->

<script type="text/javascript">
$(document).ready(function () {
  bsCustomFileInput.init();
});
</script>
</body>
</html>
