<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Setting</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="card card-info">
              <!-- <div class="card-header">
                <h3 class="card-title">Add Bank Book</h3>
              </div> -->
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post" th:action="@{/settings/add }"  th:object="${setting}" class="form-horizontal">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" th:field="*{name}" id="name" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="desc" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" th:field="*{description}" id="desc" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="code" class="col-sm-2 col-form-label">Code</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" th:field="*{code}" id="code" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="value" class="col-sm-2 col-form-label">Value</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" th:field="*{value}" id="value" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="isActive" class="col-sm-2 col-form-label">Activate</label>
                    <div class="col-sm-10">
                      <select th:field="*{enabled}" id="isActive" class="form-control">
                        <option value=false >No</option>
                        <option value=true >Yes</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Create</button>
                  <a th:href= "@{~/settings}" class="btn btn-default ">Cancel</a>
                </div>
                <!-- /.card-footer -->
              </form>

            </div>
            <!-- /.card -->

          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>


</div>

</body>
</html>
