<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit Bank Book</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a th:href= "@{~/books/{pathParam}/objects (pathParam=${book.id}) }"  class = "btn btn-primary" >View Book Objects</a>
              </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="card card-info">
              <!-- <div class="card-header">
                <h3 class="card-title">Add Bank Book</h3>
              </div> -->
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post" th:action="@{/books/{bookId}/edit (bookId=${book.id}) }" class="form-horizontal"  th:object="${book}" >
                <div class="card-body">
                  <div class="form-group row">
                    <label for="bookName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" th:field="*{bookName}" id="bookName" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea rows="3" class="form-control" th:field="*{description}" id="description" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="bookPrefix" class="col-sm-2 col-form-label">File Prefix</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" th:field="*{bookPrefix}" id="bookPrefix" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="mappedTableName" class="col-sm-2 col-form-label">Mapped Table Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" th:field="*{mappedTableName}"  id="mappedTableName" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="enabled" class="col-sm-2 col-form-label">Activate</label>
                    <div class="col-sm-10">
                      <select class="form-control" th:field="*{enabled}" id="enabled">
                        <option value=false>No</option>
                        <option value=true>Yes</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Update</button>
                  <a href="/books" class="btn btn-default ">Cancel</a>

                  <a th:href="@{/books/{bookId}/delete (bookId=${book.id}) }"  class="float-sm-right btn btn-danger btn-info">Delete</a>

                </div>
                <!-- /.card-footer -->
              </form>
            </div>
            <!-- /.card -->

          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../assets/js/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../assets/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="../../assets/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../assets/js/demo.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  bsCustomFileInput.init();
});
</script>
</body>
</html>
