<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>SyncBase</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" th:href="@{~/assets/css/fontawesome-free/css/all.css}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" th:href="@{~/assets/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{~/assets/css/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fas fa-user mr-2"></i>
<!--          <span class="badge badge-warning navbar-badge">15</span>-->
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

          <a href="/logout" class="dropdown-item">
            <i class="fas fa-user mr-2"></i> Sign Out
          </a>

        </div>
      </li>
    </ul>

  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img th:src="@{~/assets/img/AdminLTELogo.png}" alt="SyncBase" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">SyncBase</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
<!--      <div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
<!--        <div class="image">-->
<!--          &lt;!&ndash; <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> &ndash;&gt;-->
<!--        </div>-->
<!--        <div class="info">-->
<!--          <a href="/" class="d-block">Admin 1</a>-->
<!--        </div>-->
<!--      </div>-->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="/" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <!-- <i class="right fas fa-angle-left"></i> -->
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/books" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Manage Files
                <!-- <i class="fas fa-angle-left right"></i> -->
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Reports
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/reports/book_sync" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>File Sync</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="/settings" class="nav-link">
              <i class="nav-icon fas fa-tree"></i>
              <p>
                Settings
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>


  <div layout:fragment="content">

  </div>
</div>

<div>
  <div th:if="${successMessage}" hidden="hidden">
    <p class="success-message" th:text="${successMessage}">Success message</p>
  </div>
  <div th:if="${errorMessage}" hidden="hidden">
    <p class="error-message" th:text="${errorMessage}">Error message</p>
  </div>

  <div th:if="${errorReasons}" hidden="hidden">
    <p th:each="b: ${errorReasons}" class="error-messages" th:text="${b}" >Error message</p>
  </div>
</div>

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->

<script th:src="@{~/assets/js/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{~/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- bs-custom-file-input -->
<script th:src="@{~/assets/js/bs-custom-file-input/bs-custom-file-input.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{~/assets/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{~/assets/js/demo.js}"></script>
<script th:src="@{~/assets/js/sweetalert2/sweetalert2.js}"></script>
<script th:src="@{~/assets/js/pages/dashboard3.js}"></script>
<script th:src="@{~/assets/datatables/jquery.dataTables.js}"></script>
<script th:src="@{~/assets/datatables-bs4/js/dataTables.bootstrap4.js}"></script>


<script>

  $(document).ready(function () {
    Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    var successMessage  = $(".success-message").text();
    if(successMessage !=="") {
      Toast.fire({
        type: 'success',
        title: successMessage
      })
    }

    var errorMessage  = $(".error-message").text();
    if(errorMessage !=="") {
      Toast.fire({
        type: 'error',
        title: errorMessage
      })
    }

    bsCustomFileInput.init();

  })
</script>
</body>
</html>
